h1 {
    color: maroon;
}

h2 {
    color: red;
}

h3 {
    color: goldenrod;
}

ul {
    color: blue;
    list-style: none;
    display: flex;
}

p {
    color: green;
}

footer {
    text-align: center;
}

a {
    text-decoration: none;
}

li {
    padding: 1%;
    display: grid;
}

img {
    max-width: 100%;
    height: auto;
    margin: 1%;
    border: solid crimson;
}